{% extends "base.html" %}

{% block title %}Create Ticket | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Create a Ticket</h1>
</section>

<form method="POST" action="{{ url_for('main.createticket')}}">
    <div class="form-group">
        <label for="UserID">Submitter Name</label>
        <select class="custom-select" name="userID" required>
            {% for user in users %}
            <option value="{user.userEmployeeID}">{user.userName}</option>
            {% endfor %}
        </select>
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% endblock %}
