{% extends "base.html" %}

{% block title %}Create Ticket | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Create a Ticket</h1>
</section>

<form method="POST">
    <div class="form-group">
        <label for="UserID">Submitter Name</label>
        <select class="custom-select" name="userID" required>
            <option value="{user.userEmployeeID}">{user.userName}</option>
        </select>
    </div>

    <input type="hidden" name="UserID" value="user.userEmployeeID">

    <br>
    <div class="form-group">
        <label for="UserDevice">Select which device is having issues</label>
        <select class="custom-select" name="UserDevice" required>
            {% for device in userDevices %}
                <option value="{device.itemID}">{device.itemDescription}</option>
            {% endfor %}
        </select>

    </div>

    <br>

    <div class="form-group">
        <label for="TicketText">Please describe the problem:</label>
        <textarea class="form-control" id="TicketText" rows="3" maxlength="100"></textarea>
    </div>

    <br>

    <button type="submit" class="btn btn-primary">Create Ticket</button>
</form>
{% endblock %}
