{% extends "base.html" %}

{% block title %}Inventory Management | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Inventory Management</h1>
</section>
<br>
<a href="/inventorymanagement/createitem"  class="btn btn-primary">Add Item</a>
<br>
<form method="POST" action="{{url_for('main.inventorymanagement')}}">
    <h3 class="h3">Inventory</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Device ID</th>
                <th scope="col">Device Description</th>
                <th scope="col">Assigned User</th>
                <th scope="col">Rotation Date</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <th scope="row">{{item.itemID}}</th>
                <td>{{item.itemDescription}}</td>
                <td>{{item.userAssigned.userName}}</td>
                <td>{{item.rotationDate}}</td>
                <td><button type="submit" name="edit" class="btn btn-secondary" value="{{item.itemID}}">Edit item</button></td>
                <td><button type="submit" name="delete" value="{{item.itemID}}" class="btn btn-danger">Delete item</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>





<div class="modal fade" id="edititemmodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="edititemmodaltitle">Edit Item</h2>

            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('main.inventorymanagement')}}">
                    <input type="hidden" id="modalHiddenItemID" name="modalHiddenItemID">
                    <div class="form-group">
                        <label for="modalitemid">Item ID</label>
                        <input type="text" name="modalItemID" id="modalItemID" disabled>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="modalItemDescription">Item Description</label>
                        <input type="text" name="modalItemDescription" id="modalItemDescription" required>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="modalItemAssignment">Assigned User</label>
                        <select class="custom-select" id="modalItemAssignemt" name="modalItemAssignment" required>
                            <option selected value="-1">Unassigned</option>
                            {% for user in users %}
                            <option value="{{user.userEmployeeID}}">{{user.userName}}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="modalItemRotationDate">Rotation Date</label>
                        <input type="date" id="modalItemRotationDate" name="modalItemRotationDate" required>
                    </div>

                    <br>

                    <button type="button" name="canceledits" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" name="submitedits" value="1" class="btn btn-primary">Save Changes</button>

                </form>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="createitemmodal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="createitemmodaltitle">Edit Item</h2>

            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('main.inventorymanagement')}}">
                    <div class="form-group">
                        <label for="modalCreateItemDescription">Item Description</label>
                        <input type="text" id="modalCreateItemDescription" name="modalCreateItemDescription" required>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="modalCreateItemAssignment">Assigned User</label>
                        <select class="custom-select" id="modalCreateItemAssignemt" name="modalCreateItemAssignment" required>
                            <option selected value="-1">Unassigned</option>
                            {% for user in users %}
                            <option value="{{user.userEmployeeID}}">{{user.userName}}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="modalCreateItemRotationDate">Rotation Date</label>
                        <input type="date" id="ModalCreateItemRotationDate" name="modalCreateItemRotationDate" required>
                    </div>

                    <br>

                    <button type="button" name="cancelcreation" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" name="submitcreation" value="1" class="btn btn-primary">Create Item</button>

                </form>
            </div>
        </div>
    </div>
</div>















<script>
    const itemmodal = document.getElementById("edititemmodal");

    itemmodal.addEventListener('show.bs.modal', function (event) {
        const itemButton = event.relatedtarget;
        const itemID = itemButton.getAttribute('data-itemID');
        const itemDescription = itemButton.getAttribute('data-itemDescription');
        const itemAssigned = itemButton.getAttribute('data-itemAssignment');
        const itemRotationDate = itemButton.getAttribute('data-itemRotationDate');



        const thisItemModal = this;

        thisItemModal.querySelector('#modalHiddenItemID').value = itemID;
        thisItemModal.querySelector('#modalItemID').value = itemID;
        thisItemModal.querySelector('#modalItemDescription').value = itemDescription;
        thisItemModal.querySelector('#modalItemAssignment').value = itemAssigned;
        thisItemModal.querySelector('#modalItemRotationDate').value = itemRotationDate;
    });



</script>


{% endblock %}
