{% extends "base.html" %}

{% block title %}Tech Management | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Employee Management</h1>
</section>

<a href="/employeemanagement/usermanagement" class="btn btn-secondary btn-lg">Users</a>
<a href="#" class="btn btn-primary btn-lg">Techs</a>
<a href="/employeemanagement/createemployee" class="btn btn-secondary btn-lg">Create new employee</a>

<br>

<form method="POST" action="{{url_for('main.techmanagement')}}">

    <br>

    <h3 class="h3">Techs</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tech Employee ID</th>
                <th scope="col">Tech Name</th>
                <th scope="col">Tickets Assigned</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for tech in techs %}
            <tr>
                <th scope="row">{{tech.techEmployeeID}}</th>
                <td>{{tech.techName}}</td>
                <td>{{tech.tickets|length}}</td>
                <td>
                    <button type="submit" name="viewTechTickets" value="{{tech.techEmployeeID}}" class="btn btn-primary">View Tickets</button>
                </td>
                <td>
                    <button type="submit" name="edit" class="btn btn-secondary" value="{{tech.techEmployeeID}}">Edit Tech</button>
                </td>
                <td>
                    <button type="submit" name="delete" value="{{tech.techEmployeeID}}" class="btn btn-danger">Delete Tech</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>

{% endblock %}
