{% extends "base.html" %}

{% block title %}{{tech.techName}} Tickets | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
    <h1 class="h3">Ticket Management</h1>
</section>

<br>

<h3 class="h3">{{tech.techName}} Tickets</h3>
<a class="btn btn-secondary" href="/employeemanagement/techmanagement">Go Back</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Ticket Submitter</th>
            <th scope="col">Ticket Device</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <th scope="row">{{ticket.ticketID}}</th>
            <td>{{ticket.creatingUser.userName}}</td>
            <td>{{ticket.ticketDevice.itemDescription}}</td>
            <td>
                <form method="POST" action="{{ url_for('main.ticketmanagement')}}">
                    <button type="submit" class="btn btn-primary" name="viewTechTicket" value="{{ticket.ticketID}}">View Ticket</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
