{% extends "base.html" %}

{% block title %}Ticket Details | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Ticket Details</h1>
</section>

<form method="POST" action="{{ url_for('main.ticketdetails')}}">

    <div class="form-group">
        <label for="ticketID">Ticket ID</label>
        <input disabled id="ticketID" value="{{ticket.ticketID}}">
    </div>

    <br>

    <div class="form-group">
        <label for="submittingUser">Submitting User</label>
        <input disabled id="submittingUser" value="{{ticket.creatingUser.userName}}">
    </div>

    <br>

    <div class="form-group">
        <label for="ticketText">Ticket Text</label>
        <textarea disabled id="ticketText">{{ticket.ticketText}}</textarea>
    </div>

    <br>

    <div class="form-group">
        <label for="ticketItemID">Ticket Item ID</label>
        <input disabled id="ticketItemID" value="{{ticket.ticketItem}}">
    </div>

    <div class="form-group">
        <label for="ticketItem">Ticket Item Description</label>
        <input disabled id="ticketItem" value="{{ticket.ticketDevice.itemDescription}}">
    </div>

    <br>

    <div class="form-group">
        <label for="techassignment">Assigned Tech</label>
        <select class="custom-select" id="techassignemt">
            <option value="-1"
                    {% if not ticket.assignedTech%}
                    selected
                    {% endif %}>
                Unassigned
            </option>
            {% for tech in techs %}
            <option value="{{tech.techEmployeeID}}"
                    {% if tech.techEmployeeID==ticket.assignedTech %}
                    selected
                    {% endif %}>
                {{tech.techName}}
            </option>
            {% endfor %}

        </select>
    </div>

    <br>

    <div class="form-group">
        <label for="ticketDate">Ticket Date</label>
        <input disabled id="ticketDate" value="{{ticket.ticketDate}}">
    </div>

    <br>

    <a href="/ticketmanagement" class="btn btn-secondary">Go Back</a>
    <button type="submit" class="btn btn-primary" name="action" value="submit">Submit User Change</button>
    <button type="submit" class="btn btn-danger" name="action" value="delete">Delete Ticket</button>
</form>
{% endblock %}
