{% extends "base.html" %}

{% block title %}Ticket Management | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
    <h1 class="h3">Ticket Management</h1>
</section>

<h3 class="h3">Users</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Ticket Submitter</th>
            <th scope="col">Ticket Device</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <th scope="row">{{ticket.ticketID}}</th>
            <td>{{ticket.creatingUser.userName}}</td>
            <td>{{ticket.ticketdevice.itemdescription}}</td>
            <td>
                <form method="POST" action="{{ url_for('main.ticketmanagement')}}">
                    <input type="hidden" id="hiddenTicketID" value="{{ticket.ticketID}}">
                    <button type="submit" class="btn btn-primary">View Ticket</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
