{% extends "base.html" %}

{% block title %}User Management | Example Ticketing System{% endblock %}

{% block content %}
<section class="mb-4">
  <h1 class="h3">Inveontory Management</h1>
</section>

<a href="#" class="btn btn-primary btn-lg">Users</a>
<a href="/employeemanagement/techmanagement" class="btn btn-secondary btn-lg">Techs</a>
<a href="/employeemanagement/createemployee" class="btn btn-secondary btn-lg">Create new employee</a>

<br>

<form method="POST" action="{{url_for('main.usermanagement')}}">

    <br>

    <h3 class="h3">Users</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Employee ID</th>
                <th scope="col">Users Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.userEmployeeID}}</th>
                <td>{{user.userName}}</td>
                <td>
                    <button type="submit" name="edit" value="{{user.userEmployeeID}}" class="btn btn-secondary">Edit user</button>
                </td>
                <td>
                    <button type="submit" name="delete" value="{{user.userEmployeeID}}" class="btn btn-danger">Delete user</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>


{% endblock %}
